<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="false" scroll="false">
        <a  href="#/menu/searchCategories" class="button  button-large button-outline button-energized">
          <div class="row">

            <div class="col">Submit a Request</div>
          </div>
        </a>
        <a  href="#/menu/submit" class="button  button-large button-outline button-energized">

          <div class="row">
            <div class="col">Search Provider</div>
          </div>
        </a>
    </ion-content>
</ion-view>
