<ion-view title="Home" class="has-header" has-header="true">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header ">
        <a  href="#/menu/searchCategories" class="button div2 button-large button-outline button-energized">
          <div class="row row-center">
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center">
            <div class="col">Submit a Request</div>
          </div>
        </a>
        <a  href="#/menu/submit" class="button div1 button-large button-outline button-energized">
          <div class="row row-center">
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center"><br>
          </div>
          <div class="row row-center">
            <div class="col">Search Provider</div>
          </div>
        </a>
    </ion-content>
</ion-view>
