<ion-view title="Media Upload">
    <ion-content overflow-scroll="true" padding="false" scroll="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block  icon ion-image" ng-click="captureImages()"></button>
            <button class="button button-stable button-block  icon ion-videocamera" ng-click="captureVideos()"></button>
        </div>
        <div>
            <img id="imgUpload" src="" height="100" width="100%" ng-src={{}}>

            <video id="vidUpload" width="100%" height="100" controls="">
                <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                        Your browser does not support the video tag.
            </video>

        </div>
        <ion-list>
            <ion-item class="item-divider">Audio</ion-item>
        </ion-list>
        <div class="button-bar">
            <button class="button button-stable button-block  icon ion-ios-mic" ng-click="captureAudio()"></button>
            <button class="button button-stable button-block  icon ion-play" ng-click="captureAudio()"></button>
        </div>
        <form class="list">
          <span class="input-label">Description</span>
            <label class="item item-input" name="desc">
                <textarea rows="8" placeholder=""> </textarea>
            </label>

        </form>
        <div style="position: absolute; bottom: 0px; width: 100%">
                <div style="text-align: center">
                  <p><a class="button button-positive button-block" href="#/menu/submit">Next</a></p>
                </div>
            </div>
    </ion-content>
</ion-view>
